h1{
   color: darkblue; 
}

li{
    color: rgb(30, 200, 0)
}

p{
    color: #c7145e
}

h4{
    color: rgba(13, 90,140, 0.5)
}

/* body{
    background: url(https://images.unsplash.com/photo-1593642532781-03e79bf5bec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
    background-repeat: no-repeat;
} */

/* div{
    background: blue;
    border: orange;
    border-width: 20px;
    border-style: solid;
} */

div{
    background: blue;
    border: red 10px solid
}
